<div id="welcome">
    <h1>Cherrytree</h1>
    <ul id="intro-nav">
        <li class="nav-item"><a href="#">Log In</a></li>
        <li class="nav-item"><a href="#">Mess Around</a></li>
    </ul>
</div>
